<html>

<head>
  <title>Registration</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>

  <script>
    function form_change_handler(e) {
      if (e.checked) {
        document.getElementById('frm').action = '/api/register/merchant';
      }
      else {
        document.getElementById('frm').action = '/api/register/user';
      }

    }
  </script>
</head>

<body>
  {{!-- <h3>
    Register here!
    <small class="text-muted">coming soon...</small>
  </h3> --}}
  <form method="POST" action="/api/register/user" id="frm">
    <div class="mb-2">
      <label for="exampleInputEmail1" class="form-label">Username </label>
      <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-2">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-5">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="text" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-6">
      <label for="exampleInputPassword1" class="form-label">Re-enter the password</label>
      <input type="password" name="password2" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" onchange="form_change_handler(this)">
      <label class="form-check-label" for="exampleCheck1">Register as a Merchant </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</body>

</html>