<html>

<head>
    <title>Add a product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script>
        function submitform() {
            document.getElementById('frm').submit();
            document.getElementById('frm').reset();
            return false;
        }
    </script>
</head>

<body>
    <form method="POST" action="/api/products/add_product" id="frm">
        <div class="mb-2">
            <label for="exampleInputEmail1" class="form-label">Product Category</label>
            <input type="text" name="category" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>

        <div class="mb-5">
            <label for="exampleInputPassword1" class="form-label">Product Name</label>
            <input type="text" name="name" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-6">
            <label for="exampleInputPassword1" class="form-label">Description</label>
            <input type="text" name="description" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-6">
            <label for="exampleInputPassword1" class="form-label">stock</label>
            <input type="number" name="stock" class="form-control" id="exampleInputPassword1">
        </div>
        <input type="button" value="submit" class="btn btn-primary" onclick="submitform()">
    </form>
</body>

</html>